@use '../utils' as u;
@use '../mixin' as r;

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice

main {
    // isolation: isolate;
    width: min(u.rem(1110), calc(100% - u.rem(62)));
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}